{% extends 'base.html' %}

{% block province %}

<div class="container ">
  <div class="col-12 text-center">
    <h1 class="py-5">Provincial Level</h1>
  </div>
  <nav class="vanbar navbar-light navbar-expand-md .nav-justified">

    <section class="tabs collapse navbar-collapse justify-content-center" id="#myNav">
      <div class="nav nav-tabs nav-justified" id="nav-tab" role="tablist">
        {% for prov in list %}
        <a class="px-4 nav-item nav-link {% if active %} active{% endif %}" id="nav-{{ prov | lower }}-tab"
          data-toggle="tab" href="#nav-{{ prov |lower}}" role="tab" aria-selected="true">{{ prov }}</a>
        {% endfor %}
      </div>
    </section>
  </nav>

    <!-- Earnings (Monthly) Card Example -->
          <div class="row m-5">
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Number of Projects</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ AB_projects }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Funds</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">${{ AB_fund }}</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Number of Institutions</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Number of Scince Disciplins</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

  <div class="tab-content" id="myTabContent">
    {% for prov in list %}
    <div class="tab-pane fade show active" id="nav-{{ prov |lower}}" role="tabpanel"
      aria-labelledby="nav-{{ prov |lower}}-tab">
      {% endfor %}
      <div class="row justify-content-center">
        <div class="col-md-9">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name of Institution</th>
                <th>Total Fund</th>
              </tr>
            </thead>
            <tbody>
            
              {% for d in AB %}
              <tr>
                <td>{{ d.institution }}</td>
                <td>{{ d.total_fund | floatformat }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div><!-- /.col-9 -->
      </div>
  </div><!-- /.container -->
</div><!-- /.container -->
{% endblock %}
